<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="navbar">
    <img src="logo.png" alt="Logo" class="logo">
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <h1>Welcome to Sydney's Landing Page</h1>
  <h2>This is a simple HTML landing page created by Bing</h2>
  <button onclick="alert('Hello, this is Bing!')">Click Me</button>
  <div class="footer">
    <ul class="social-icons">
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
    <p class="copy">&copy; 2023 by Sydney. All rights reserved.</p>
  </div>
</body>
</html>