body {
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  background-color: #333;
  border-top: 0.1rem solid black;
  box-shadow: 0 0.5rem 1rem black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  z-index: 100;
  padding: 2%;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

h1 {
  color: white;
}

h2 {
  color: white;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.portal-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.login-section,
.register-section {
  width: 45%;
  align-items: center;
}

form {
  flex-direction: column;
}

label {
  margin: 5px 0;
  font-size: large;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #333;
  box-shadow: 0 0.5rem 1rem black;
  color: white;
  padding: 1em;
  text-align: center;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline;
  margin-right: 10px;
}

.social-icons a {
  color: white;
  text-decoration: none;
}
